.App {
  text-align: center;
  margin: 0px;
}
.centerss {
  margin: auto;
  background-color: white;
  margin-top: 25px;
  padding: 0px;

}

.header {
  width: 100%;
}

.scoreHeader {
  width: 100%;
  background: #ffffff;
  padding: 10px;
}
body {
  background-color: lightgray;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 14px;
}


.col-sm-3 {
  margin: auto;
}


